.cards {
  width: 25vw;
}

.cardsText {
  margin-top: 0;
}

.container {
  margin-left: 10vw;
  margin-right: 10vw;
}

.flexContainer {
  display: flex;
}

.flexBox1 {
  padding-left: 2vw;
  padding-right: 2vw;
}
