.cards {
  width: 25vw;
}

.cardsText {
  margin-top: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  margin-left: 5vw;
  margin-right: 5vw;
}

.flexContainer {
  display: flex;
}

.flexBox1 {
  padding-right: 2vw;
}
