.box {
  border: 2px solid #333;
  border-radius: 2.5vw;
  padding: 1.5vw;
  width: 60vw;
  font-size: 3.5vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.list {
  padding-top: 4vw;
}
